body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.5s ease;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#weatherBox {
    margin-top: 20px;
    background: rgba(255,255,255,0.8);
    padding: 15px;
    border-radius: 10px;
}

.hidden {
    display: none;
}